.all-questions,
.add-question{
    box-shadow: $shadow;
}

.answer{
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

.fas{
    // border: 2px solid $primary;
    padding: 5px 4px;
    border-radius: 50%;
    color: $secondary;
}