.container{
    min-height: 85vh;
}

@import 'userData';

.create-post-section{
    box-shadow: $shadow;
    .all-posts, .saved-posts{
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem,20rem));
        gap: 2rem;
        .post-block{
            height: 25rem;
            .post-block__content{
                height: 15rem;
                img{
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.user-data,.create-post-section{
    margin: 0 2rem;
    // min-height: 20rem;
}