@import 'variables';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: #c4c4c4;
    background-color: #D1D8EC;
}

a,a:visited,a:hover{
    list-style: none;
    text-decoration: none;
}

ul,li{
    text-decoration: none;
    list-style: none;
}

.myList{

    // padding: 0 0 0 1rem;
    padding: 0;
    background-color: $header;
    .list-item{
        border-left: 1rem solid $header;
        background-color: $header;
        padding: 5px 0;
    }
    .list-item:hover{
        border-left: 1rem solid $secondary;
    }
}


@import 'auth';
@import 'utility';

@import 'profile';
@import 'fooddiaries';
@import 'media';

@import 'fullPost';